@page "/counter"
@using System.ComponentModel.DataAnnotations
@using GMWeb.Services
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Inject] [Required]CountService _countService { get; set; }
    private int currentCount = 0;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        currentCount = _countService.Cnt;
    }

    private void IncrementCount()
    {
        currentCount = _countService.AddCount();
    }

}